<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% block title %}My amazing forum{% endblock %}
{% block content%}
    <a>{{ post }} by <a href='{% url 'myauth:user_page' post.user %}'>{{ post.user }}</a></a>
    <br>
    {% if request.user == post.user %}
        {% if post.status == 'open' %}
    <a href="{%  url 'mycontent:post_status' post.id 0 %}"><button>disable this post</button></a>
        {% else %}
    <a href="{%  url 'mycontent:post_status' post.id 1 %}"><button>enable this post</button></a>
        {% endif %}
    {% endif %}
    <hr>
    <a href="{%  url 'mycontent:vote_post' post.id 1 %}"><button>upvote this post</button></a>
    <a href="{%  url 'mycontent:vote_post' post.id 0 %}"><button>downvote this post</button></a>
{#        <a href="{%  url 'mycontent:vote_post' post.id 1 %}"><button name='postvote'>upvote this post</button></a>#}

    <hr>
    {{ postnet }}
    <br>
    <a> tags :
        {% for tag in posttag.all %}
           <a href="{{ tag.get_absolute_url }}"><button>{{ tag.title }}</button></a>
            </a>
            <br>
        {% endfor %}
    <br>

    <a> SimilarPOSTS </a>
    {% for obj in similarpost %}
        <a href="#">{{ obj.title }}</a>{% if not forloop.last %}, {% endif %}
    {% endfor %}
    <br>
    <table>
    <tr>
        <th>Comments</th>
        <th>Time</th>
        <th>By</th>
    </tr>
        {% for obj in comment %}
    <tr>
        <td>{{ obj.body }}</td>
        <td>{{ obj.created }}</td>
        <td>{{ obj.user }}</td>
    </tr>
     {% endfor %}
    </table>

{% if post.status == 'open' %}

    <br>
    {% if new_comment %}
         <a>Your comment has been sent to verify</a>
    {% else %}
        <a>ADD COMMENT</a>
        <form  class="answer" method="post">
              {% csrf_token %}
              {{ commentform.as_p }}
              <button name='comment' type="submit">ADD COMMENT</button>
        </form>
    {% endif %}

{% endif %}



{#            {% if request.user == post.user %}#}
{#    {% for obj in answer %}#}
{#        {% if obj.accepted == True  %}#}
{#        <a href="{%  url 'mycontent:answer_status' answer.id 0 %}"><button>disable this answer</button></a>#}
{#        {% else %}#}
{#        <a href="{%  url 'mycontent:answer_status' answer.id 1 %}"><button>enable this answer</button></a>#}
{#        {% endif %}#}
{#    {% endfor %}#}
{#            {% endif %}#}


Answers

{% for obj in answer %}
        {%  if obj.accepted %}
            {{ obj.get_net_answer }}
            {{ obj.abody }}<br>

{#    {% if request.user == post.user %}#}
{#        <a href="{%  url 'mycontent:answer_status' post.id 0 %}"><button>disable this post</button></a>#}
{#    {% if post.status == 'open' %}#}
{#    <a href="{%  url 'mycontent:post_status' post.id 0 %}"><button>disable this post</button></a>#}
{#        {% else %}#}
{#    <a href="{%  url 'mycontent:post_status' post.id 1 %}"><button>enable this post</button></a>#}
{#        {% endif %}#}

            <hr>
            <a href="{%  url 'mycontent:vote_answer' obj.id 1 %}"><button name='answervote'>upvote this answer</button></a>
            <a href="{%  url 'mycontent:vote_answer' obj.id 0 %}"><button name='answervote'>downvote this answer</button></a>
            <hr>
        {%  endif %}
    {% endfor %}

{% if post.status == 'open' %}

    <br>
    {% if new_answer %}
         <a>Your answer has been sent to verify</a>
    {% else %}
        <a>ADD ANSWER</a>
        <form  class="answer" method="post">
              {% csrf_token %}
              {{ answerform.as_p }}
              <button name="answer" type="submit">ADD ANSWER</button>
        </form>

    {% endif %}

{% endif %}

{% endblock %}